#vid{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
}

#vid video{
    width: 50%;
}

.text_strong{
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.text_strong span{
    font-weight: 500;
    font-size: 4.5em;

    animation-name: hue_animation;
    animation-iteration-count: infinite;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    
}

.text_strong span:nth-child(2n){
    color: rgb(0, 146, 15);
}

.text_strong span:nth-child(2n+1){
    color: rgb(146, 22, 0);
}

@keyframes hue_animation {
    0%{
        transform: translateY(0px);
        filter: hue-rotate(0deg);
    }



    100%{
        transform: translateY(-50px);
        filter: hue-rotate(360deg);
    }
}

@media screen and (max-width: 970px) {
    #vid{
        display: block;
    }

    #vid video{
        width: 80vw;
    }
}