

body{
    --black: #0E0E0E;
    --white: #E9E9E9;
    background-color: var(--black);
    color: var(--white);
    font-family: "Segoe UI", Arial, sans-serif;
    margin-left: 10em;
    margin-right: 10em;
    
}


h1{
    font-weight: 300;
    font-size: 4em;
}

h2{
    font-weight: 100;
}


#ftr{
    color: var(--white);
    width: 100%;
    text-align: center;
    font-weight: 100;
}