header nav{
    --black: #0E0E0E;
    --white: #E9E9E9;
    --dark_red: #911212;
    margin-top: 1em;
    margin-bottom: 5em;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: var(--white);
}
header nav a{
    font-weight: 100;
    font-size: 1.3em;
    transition-duration: 0.2s;
}

header nav a::before{
    content: "@_ $#";
}

header nav a::after{
    content: "_-{";
}

header nav a:hover{
    color: var(--dark_red);
}

@media screen and (max-width: 768px) {
    nav{
        flex-direction: column;
        align-items: flex-end;
    }
}