html{
    --black: #0E0E0E;
    --white: #E9E9E9;
}

main{
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 10em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#genres{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

#genres a{
    font-weight: 400;
    font-size: 2em;
    transition-duration: 0.2s;
}

#genres a:hover{
    transform: translateY(-0.2em);
    
}



#ftr{
    color: var(--white);
    width: 100%;
    text-align: center;
    font-weight: 100;
}

#motto{
    color: var(--black);
    animation-name: flashing_text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes flashing_text{
    0%{
        color: var(--black);
    }
    50%{
        color: var(--black);
    }
    51%{
        color: var(--white);
    }
    52%{
        color:var(--black)
    }
    100%{
        color: var(--black);
    }
}