

main{
    display: flex;
    justify-content: center;
}

#loginForm{
    width: 30vw;
    display: flex;
    flex-direction: column;
}

input{
    background-color:#272727;
    border: none;
    border-radius: 0.2em;
    margin-bottom: 1em;
    color: var(--white);  

}   