<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Rock/rock.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Imp0rt Beats</title>
</head>
<body>
    
    <header>
        <nav>
            <a href="/">My music</a>
            <a href="workflow">How do I work?</a>
            <a href="about">Who am I?</a>
            <a href="work">Let's work!</a>
            <a href="loginpage">Studio</a>
        </nav>
    </header>

    <main>
        <h1>Rock</h1>
        <div id="content">
            <div class="song">
                <h2>Title</h2>
                <audio controls><source src="/Music/rock.mp3" type="audio/mp3"></audio>
                <div class="Description">
                    <p>Key: C#min</p>
                    <p>Bpm: 140</p>
                </div>
            </div>
            
            <div class="song">
                <h2>Title</h2>
                <audio controls><source src="/Music/rock.mp3" type="audio/mp3"></audio>
                <div class="Description">
                    <p>Key: C#min</p>
                    <p>Bpm: 140</p>
                </div>
            </div>

            <div class="song">
                <h2>Title</h2>
                <audio controls><source src="/Music/rock.mp3" type="audio/mp3"></audio>
                <div class="Description">
                    <p>Key: C#min</p>
                    <p>Bpm: 140</p>
                </div>
            </div>
            <div class="song">
                <h2>Title</h2>
                <audio controls><source src="/Music/rock.mp3" type="audio/mp3"></audio>
                <div class="Description">
                    <p>Key: C#min</p>
                    <p>Bpm: 140</p>
                </div>
            </div>
            <div class="song">
                <h2>Title</h2>
                <audio controls><source src="/Music/rock.mp3" type="audio/mp3"></audio>
                <div class="Description">
                    <p>Key: C#min</p>
                    <p>Bpm: 140</p>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div id="ftr">
            <p>@prod.imp0rt / @mihaidanaila11</p>
        </div>
    </footer>

</body>
</html>