<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Work/work.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="css//main.css">
    <title>Imp0rt Beats</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">My music</a>
            <a href="workflow">How do I work?</a>
            <a href="about">Who am I?</a>
            <a href="work">Let's work!</a>
            <a href="loginpage">Studio</a>
        </nav>
    </header>

    <main>
        <form id="contactForm">
            <label for="first_name">First Name:
                <span aria-label="required">*</span>
            </label>
            <input type="text" name="First Name" id="first_name" pattern="[a-zA-Z]{2,}" required>
            <label for="last_name">Last Name:
                <span aria-label="required">*</span>
            </label>
            <input type="text" name="Last Name" id="last_name" pattern="[a-zA-Z]{2,}" required>
            <label for="mail">E-mail
                <span aria-label="required">*</span>:</label>
            <input type="email" name="mail" id="mail" required>
            <label for="phoneNumber">Phone (+40):</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" pattern="(07){1}\d{8}" title="10 digit number (e.g. 0711 111 111)"placeholder="0711 111 111">
            <label for="song">Upload your Song:
                <span aria-label="required">*</span></label required>
            <input type="file" name="song" id="song" accept="audio/mp3, audio/wav"> 
            <input type="submit">
        </form>
    </main>

    <footer>
        <div id="ftr">
            <p>@prod.imp0rt / @mihaidanaila11</p>
        </div>
    </footer>

</body>

</html>