#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1{
    margin-bottom: 1em; 
}

.song{
    width: fit-content;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.Description{
    display: flex;
    justify-content: space-between;
}