<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Workflow/workflow.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Imp0rt Beats</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">My music</a>
            <a href="workflow">How do I work?</a>
            <a href="about">Who am I?</a>
            <a href="work">Let's work!</a>
            <a href="loginpage">Studio</a>
        </nav>
    </header>

    <main>
        <div id="vid">
            <video autoplay muted loop playsinline>
                <source src="Videos/workflow.mp4" type="video/mp4">
            </video>

            <div class="text_strong">
                <span>wOrkFlow_!</span>
                <span>wOrkFlow_!</span>
                <span>wOrkFlow_!</span>
                <span>wOrkFlow_!</span>
                <span>wOrkFlow_!</span>
                <span>wOrkFlow_!</span>
                <span>wOrkFlow_!</span>
                <span>wOrkFlow_!</span>

            </div>
        </div>

        <section>
            <h2>What do I use to make music?</h2>
            <h2>Idk figure it out alone:*</h2>
        </section>
    </main>

    <footer>
        <div id="ftr">
            <p>@prod.imp0rt / @mihaidanaila11</p>
        </div>
    </footer>

</body>

</html>